[Desktop Entry]
Type=Application
Name=Syncthing
Exec=syncthing serve --no-browser
Hidden=false
X-GNOME-Autostart-enabled=true
Comment=Start Syncthing automatically on login
